# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDEs/editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Env vars / secrets
.env    